body {
    margin:0px;
    padding:0px;
    display:flex;
    min-height: 100vh;
    flex-direction:column;
}

header {
    height: 500px;  
}

header nav {
    height: 100px;
    background:white;
    box-shadow: none;
}

nav .brand-logo {
    height: 100px;
    left: 15%;
    padding-top: 20px;
}

nav .brand-logo img {
    width: 200px;
}

header nav ul {
    height: 100px;
}

header ul a {
    color: rgba(0, 106, 142)
}

.header-main-pic {
    width: 100%;
    height: 400px;
    background-image: url('../img/clinicabanner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

.padding {
    padding: 5px;
}

.input-field.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;

}

.input-field > #search {
    margin-top: 25px;
}

.input-container i {
    margin-top: 45px;
    margin-right: 15px;
}

footer.page-footer {
    height: 120px;
    background-color: #003057;
    bottom: 0;
    padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #003057;
    font-family: Arial, Helvetica, sans-serif;
}


/*Pagina Post*/.post-pic {
    width: 100%;
    height: 250px;
    background-image: url('../img/clinica1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Pagina de Registro*/

.registro-titulo {
    margin-top: 60px;

}

.registro-header {
    height: 400px;
}

/*Pagina de Cnocenos*/

.conocenos-header {
    height: 250px;
}

.card-title-doctor {
    color: #003057;
    font-size: 22px;
}

.text-doctor {
    font-size: 0.9rem;
}



